{% extends 'base.html.twig' %}

{% block title %}ApplicationFeedback{% endblock %}

{% block body %}
    <h1>ApplicationFeedback</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application_feedback.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ application_feedback.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ application_feedback.createdAt ? application_feedback.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_application_feedback_index') }}">back to list</a>

    <a href="{{ path('app_application_feedback_edit', {'id': application_feedback.id}) }}">edit</a>

    {{ include('application_feedback/_delete_form.html.twig') }}
{% endblock %}
