{% extends 'base.html.twig' %}
{% block title %}
	Submission
{% endblock %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}
{% block container_title %}
	Submissions
{% endblock %}
{% block help_right %}
	{% include "helps/submission_help.html.twig" %}

{% endblock %}
{% block body %}
	<!-- testFilter.html.twig -->

	<style>
		.highlight {
			background-color: yellow;
		}
	</style>
	<br>
	<div class="row">

		<div class="col-lg-9">


			<div class="kanban-board m-0">

				<div class="kanban-col ">
					<div class="kanban-main-card">
						<div class="kanban-box-title">
							<h4 class="font-16  ">
								{# Document {{file.name}} #}
								<br>
							</h4>
							<h4 class="font-13  ">

								Highlight keywords as you type:</h4>
							<form id="form1" name="form1" method="post">
								<div class='row'>
									<div class="col-lg-12">
										<input id="keywords" onclick="change()" value="{{ submission.author }}{% for member in submission.coAuthors %}&nbsp;{{ member.researcher.UserInfo }}&nbsp;{% endfor %}" placeholder='Enter keyword' class='form-control'></p>

								</div>
								<div class="col-lg-2">
{# 
									<input type="button" class="btn btn-block btn-soft-success btn-sm" name="set_Value" id="set_Value" value="Search a member" onclick="setValue()"/>
									<input type="reset" class="btn btn-block btn-soft-danger btn-sm"  value="Reset"/>
  #}
								</div>
							</div>

						</form>


					</div>

					<div class="card  ">
						<div class="card-body">

							<div class="table-responsive">
								<div id="playground">
									<p>
										{{ document |raw}}</p>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<div class="col-lg-3">
		<div class="card ">
			<div class="card-header  ">
				<b>Blind submission analysis result</b>
			</div>
			<div class="card-body container ">
				<b>{{result|raw}}
				</b>

			</div>

		</div>

		<div class="card ">
			<div class="card-header  ">
				<b>Research team confirmation</b>
			</div>
			<div class="card-body container ">
				<div class="row ">

					<button class="btn btn-xs btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Help</button>


					<hr class="hr-dashed my-4">

					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div class="media">


										{% if  submission.Author.userInfo  and  submission.Author.userInfo.image  %}

											<img src="{{ asset('files/profile_pictures/'~ submission.Author.userInfo.image ) }}" alt="" class="rounded-circle thumb-lg align-self-center">
										{% else %}

											<img src="{{ asset('/img/defaultuser.png') }}" alt="" class="rounded-circle thumb-lg align-self-center">
										{% endif %}

										<div class="media-body ms-3 align-self-center">
											<h5 class="mt-0 mb-1">
												<a href='{{path('researcher',{'id':submission.Author.id})}}'>
													{{submission.Author.UserInfo.suffix}}
												 

													{{submission.Author.UserInfo}} 
													{% if submission.Author.userInfo.educationLevel %}
												({{ submission.Author.userInfo.educationLevel }})
											{% endif %}
												</a>
											</h5>
											<p class="mb-0 text-muted">Principal Investigator</p>
										</div>
									</div>
									<!--end media-->
								</div>
								<!--end col-->
								<div class="col-auto align-self-center">
 <a href="apps-contact-list.html#" class="me-1 contact-icon">
										<i class="fas fa-check text-success"></i>
									</a>

								</div>
								<!--end col-->
							</div>
							<!--end row-->
						</div>
						<!--end card-body-->
					</div>


					{% for member in submission.coAuthors %}

						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col">
										<div class="media">


											{% if  member.researcher.userInfo  and  member.researcher.userInfo.image  %}

												<img src="{{ asset('files/profile_pictures/'~ member.researcher.userInfo.image ) }}" alt="" class="rounded-circle thumb-lg align-self-center">
											{% else %}

												<img src="{{ asset('/img/defaultuser.png') }}" alt="" class="rounded-circle thumb-lg align-self-center">
											{% endif %}

											<div class="media-body ms-3 align-self-center">
												<h5 class="mt-0 mb-1">
													<a href='{{path('researcher',{'id':member.researcher.id})}}'>
														{{ member.researcher.userInfo.suffix }}
														{{ member.researcher.userInfo }}
														</a>
												</h5>
												<p class="mb-0 text-muted">{{ member.role}}</p>
											</div>
										</div>
										<!--end media-->
									</div>
									<!--end col-->
									<div class="col-auto align-self-center">

										{% if member.confirmed=='1' %}
											<a href="apps-contact-list.html#" class="me-1 contact-icon">
												<i class="fas fa-check text-success"></i>
											</a>
										{% elseif member.confirmed==''    %}

											<a href="apps-contact-list.html#" class="me-1 contact-icon">
												<i class="fa fa-times-circle text-danger"></i>
											</a>
										{% else  %}
											<i class="fa fa-close text-danger"></i>
										{% endif %}

									</div>

								</div>

							</div>

						</div>


						{% else %}No Co-PI has been involved
					{% endfor %}


				</div>
			</div>
		</div>

		<div class="card ">
			<div class="card-header  ">
				<b>Decision</b>
			</div>
			<div class="card-body container ">
				<a href="{{ path('review_assignment_new', {'id': submission.id}) }}" class='  btn btn-sm btn-soft-primary btn-xs   '>
					Assign  Reviewer</a>
				<hr class="hr-dashed my-4">
				<button type="button" class="btn btn-block btn-soft-danger btn-sm">Decline</button>
				<button type="button" class="btn btn-block btn-soft-success btn-sm">Select for shortlist</button>

			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="{{ asset('plugins/select2/hilitor.js')}}"></script>

	<script>
 
		window.addEventListener("DOMContentLoaded", function (e) {
var myHilitor2 = new Hilitor("playground");
myHilitor2.setMatchType("left");
document.getElementById("keywords").addEventListener("keyup", function (e) {
myHilitor2.apply(this.value);
 
}, false);
}, false);

	</script>

	 

{% endblock %}
