{% set phase = submission.callForProposal.researchReportPhase %}
{% set research_reports = submission.researchReports %}
			{% set schedule_count  = submission.researchReportSubmissionSettings|length %}

<div class="tab-pane

{% if schedule_count %}
active
{% else %}
{% endif %}
 
 
 " id="progress-report">

	<div class="row m-1">
		<div class="col-12">
		<div class='card '>
								<div class="card-header h4 text-bold">Submit full terminal report
								</div>
								<div class="card-body    "> 
								
			{% set schedule_count  = submission.researchReportSubmissionSettings|length %}
			{% if schedule_count > 0 and (submission.researchReportSetting and submission.researchReportSetting.status!=2) %}


				{% if  research_reports|length  < phase.numberOfPhases   %}
					{% if  allowedToSubmitReport(submission.researchReportSubmissionSettings,research_reports)  %}
						{% if ((research_reports|length)+1)  == phase.numberOfPhases %}


							

								<div class="p text-bold">Full Length Report should include
								</div>
								<ul>
									<li>
										Introduction
									</li>
									<li>
										Methodology</li>
									<li>
										Result
									</li>
									<li>
										Reference
									</li>
								</ul>
								<div class="p text-bold">Manuscript Prepared
								</div>
								<ul>
									<li>
										All manuscript prepared should not be longer than 20 pages including references
									</li>
									<li>
										Manuscript preparation should target any relevant Scopus indexed journal
									</li>
									<li>
										Attach in Pdf format
									</li>
								</ul>
							

						{% else %}
							<div class="my-3 text-bold"> <h6 >Report for phase
								{{research_reports|length +1 }} </h6></div>
						{% endif %}

						{% if research_report_form is defined %}

							<div>
								{{ form_start(research_report_form,{"attr":{"onsubmit":"return confirm('are you sure?')"}}) }}
								{{ form_row(research_report_form.file) }}
								{{ form_row(research_report_form.financial_clearance) }}

								<ul id="email-fields-list" class="challeges" data-prototype="{{ form_widget(research_report_form.researchReportChallenges.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ research_report_form.researchReportChallenges|length }}">
									{% for challenge in research_report_form.researchReportChallenges %}
										<li>

											{{ form_row(challenge) }}
										</li>
									{% endfor %}
								</ul>

								<button type="button" class="add-another-collection-widget btn btn-soft-info" data-list-selector="#email-fields-list">Add Challenges if any</button>
								{{ form_widget(research_report_form) }}
								<button class="btn btn-success" type="submit">Submit</button>
								{{ form_end(research_report_form) }}


							</div>
						{% endif %}
					{% else %}
						<div>
							{# <span class="h2 text-danger">{{ timeAgo(submission.researchReportSubmissionSettings[research_reports|length].submissionDate,null) }}
																																																	</span> #}
							<span id="demo" class="h4 text-danger" data-value="{{submission.researchReportSubmissionSettings[research_reports|length].submissionDate|date()}}"></span>
							Time left for the  next report submission</div>
					{% endif %}

				{% endif %}

			{% elseif phase  %}
				<div class="p text-bold">
					Note:-
					{{phase.note}}
				</div>
				<div class="p text-black">
					<ul>
						<li>Start Date:-
							{{phase.startDate|date('F d,Y')}}</li>
						<li>End Date:-
							{{phase.endDate|date('F d,Y')}}</li>
						<li>Number of Phases:-
							{{phase.numberOfPhases}}</li>
						<li>Tolerable Days:-
							{{phase.tolerableDay}}
							Days</li>
						<li>Minimum Days after last report:-
							{{phase.maximumDuration}}
							Days</li>

					</div>

					{% if submission_report_schedule_form is defined %}


						{{ form_start(submission_report_schedule_form,{"attr":{"onsubmit":"return confirm('are you sure?')"}}) }}

						<div class="row">
							{% for child in submission_report_schedule_form.children %}
								<div class="col-4">
									{% if  child.vars.name!="_token" %}
										<div class="h5 text-black-50">Phase
											{{loop.index}}</div>
										{{ form_label(child,"Submission Date") }}
										{{ form_widget(child,{"attr":{"data-phase":loop.index,"data-last":loop.length-1 == loop.index ?"last":"not-last"}}) }}

										{{ form_errors(child) }}
									{% endif %}

								</div>
							{% endfor %}
						</div>
						<button class="btn btn-success my-3 float-right schedule-submit-button" type="submit">Submit</button>

						{{ form_end(submission_report_schedule_form) }}
					{% endif %}
				{% endif %}
</div>
							</div>
				<div class="card">
					<div class="card-header ">
						<div class="h4 text-red">Reports</div>

					</div>
					<div class="card-body ">

						<div>
							{% for report in research_reports %}
								<div class="card">
							
							<div class="card-header ">
						<div class="h5 text-red">
						
						Report for phase
									{{loop.index}}{{loop.last and schedule_count==loop.index ?"(Terminal report)":""}}
									</div>

					</div>
					<div class="card-body ">

								 

								{% if loop.last and schedule_count==loop.index %}

									<a class="btn btn-bd-download btn-soft-info" href="{{asset('files/uploads/research-report/')~report.file}}">Full Progress report</a>
								{% else %}
									<a class="btn btn-bd-download btn-soft-info" href="{{asset('files/uploads/research-report/')~report.file}}">Progress report</a>

								{% endif %}

								{% if report.financialClearance %}
									<a class="btn btn-bd-download btn-soft-info" href="{{asset('files/uploads/research-report/')~report.financialClearance}}">Financial clearance</a>
								{% endif %}


								{% if schedule_count==loop.index and submission.manuscript %}
									<a class="btn btn-bd-download btn-secondary" href="{{asset('files/uploads/research-report/')~submission.manuscript}}">Manuscript</a>
								{% endif %}


								<div class="font-16 my-3 ">
									{% if report.researchReportChallenges|length>0 %}
										<b>
											Challenges:-
										</b>
									{% endif %}

									<dl>
										{% for item in report.researchReportChallenges %}
											<dt>
												<bold>Category:-
												</bold>
												{{item.challengeCategory}}</dt>
											<dd>{{item.description}}</dd>
										{% endfor %}
									</dl>
								</div>


								<div class="font-13 m-0 fw-bold text-green bg-red-50   float-right my-2">
									{% if is_granted('approve_re_re') and report.submissionStatus != 4 %}
										<form method="POST" class=" form-inline">

											<input type="hidden" name="approve_research_report" value="true"/>
											<input type="hidden" name="research_report_id" value="{{report.id}}"/>
											{% if loop.last and schedule_count == loop.index and submission.manuscript %}
												<input type="hidden" name="approve_research_generate" value="true"/>
												<button class="btn btn-soft-success mx-3" type="submit">Approve and Generate Certificate</button>
											{% else %}
												<button class="btn btn-soft-success" type="submit">Approve
												</button>

											{% endif %}


										</form>
									{% endif %}
									{# <a class="btn  btn-sm btn-secondary m-2" href="#">Review research report</a> #}
								</div>
								<div class="font-16 my-3 ">
									Submited At:-
									{{report.submittedAt|date('Y-m-d')}}

									<span class="badge  {{report.submissionStatus == 4 ? " badge-soft-success":" badge-soft-warning"}}">{{report.submissionStatus == 4 ? "Approved":"pending approval"}}</span>

								</div>
								<div class=" text-bold text-info my-3">Co-PI confirmation</div>
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<th>CO PI</th>
											<th>Agreed</th>
											<th>Comment</th>
											<th>Commented At</th>
										</tr>
									</thead>
									<tbody>
										{% for copi_response in report.researchReportComments %}
											<tr>
												<td>{{copi_response.commentedBy}}</td>
												<td>
													<span class="badge  {{copi_response.wasAgreed ? " badge-success":" badge-warning"}}">{{copi_response.wasAgreed ? "Agree":"not agree"}}</span>
												</td>
												<td>
													{% if not copi_response.wasAgreed %}
														<span>
															<b>Rejection Reason:-
															</b>
															{{copi_response.rejectionReason}}
														</span>

													{% endif %}
													{% if not copi_response.wasAgreed and not copi_response.PIResponse  %}
														<form method="POST">

															<div class="form-group">
																<label class=" form-label">Your response for Co-PI`s reason
																</label>
																<textarea name="pi_action[reason]" class="form-control" required></textarea>
															</div>

															<input type="hidden" name="pi_response" value="true"/>
															<input type="hidden" name="pi_action[research_report_id]" value="{{report.id}}"/>
															<input type="hidden" name="pi_action[research_report_comment_id]" value="{{copi_response.id}}"/>
															<button class="btn btn-primary" type="submit">Submit</button>
														</form>
													{% elseif copi_response.PIResponse %}

														<div>

															<span>
																<b>PI response:-
																</b>
																{{copi_response.PIResponse}}
															</span>
															<span>
																<b>Responded at:-
																</b>
																{{copi_response.PIRespondedAt|date('H:iA M d,Y')}}
															</span>

														</div>


													{% endif %}


												</td>
												<td>{{copi_response.commentedAt|date('H:iA M d,Y')}}</td>
											</tr>
										{% else %}
											<tr>
												<td colspan="4">No comments yet!</td>
											</tr>

										{% endfor %}
									</tbody>
								</table>

								{# note remove return true #}
								{% if  isCOPIAllowedToReview(submission,report, app.user)  %}

									<div class="my-5">
										<form method="POST">
											<div class="form-group">
												I agree
												<input id="agree_radio" class="" type="radio" name="copi_action[agree]" value="1"/>
												I don`t agree<input id="disagree_radio" type="radio" name="copi_action[agree]" value="0"/>
											</div>
											<div class="form-group disagree_textbox_div">
												<label class=" form-label">If no, please state your  reason
												</label>
												<textarea name="copi_action[reason]" class="form-control disagree_textbox" required></textarea>
											</div>

											<input type="hidden" name="copi_response" value="true"/>
											<input type="hidden" name="copi_action[research_report_id]" value="{{report.id}}"/>
											<button class="btn btn-primary" type="submit">Submit</button>
										</form>
									</div>
								{% endif %}
									</div>
									</div>

							{% else %}
								<div>
									No Reports submitted yet</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
			 
		</div>
	</div>
