{% extends 'base.html.twig' %}

{% block title %}Submission
{% endblock %}
{% block container_title %}Submission review
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-lg-9">


			<div
				class="card-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills nav-justified" role="tablist">
					<li class="nav-item  waves-effect waves-light">
						<a class="nav-link " data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Research detail</a>
					</li>
					{% if is_granted('ROLE_SECRETARY') %}
 
					<li class="nav-item  waves-effect waves-light">
						<a class="nav-link " data-bs-toggle="tab" href="#profile" role="tab" aria-selected="false">Decision</a>
					</li>
					{% endif %}
					<li class="nav-item  waves-effect waves-light">
						<a class="nav-link active" data-bs-toggle="tab" href="#review-checklist" role="tab" aria-selected="false">Checklist</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane p-3  " id="home" role="tabpanel">
						<div class="card">
							<div class="card-header">

								<h5>Details
								</h5>
							</div>
							<div class="card-body">

								<div class="row">
									<div class="col-lg-12">
										<dl class="row mb-0">
											<div class="col-sm-2 text-sm-right float-right pull-right">
												<dt>
													{% if submission.CreatedAt %}
														{{ submission.CreatedAt|date() }}
													{% endif %}
												</dt>
											</div>
											<div class="col-sm-9 text-sm-left">
												<dd>
													<div class="nowrap">
														<div style="width: 100%;" class="font-16 m-0 fw-bold">
															<strong>
																{{ submission.Title }}
															</strong>
														</div>
													</div>
												</dd>
											</div>
											<div class="col-sm-1 text-sm-left">
												<dd>
													<div class="nowrap">
														<div style="width: 100%;" class="text-success strong"></div>
													</div>
												</dd>
											</div>
										</dl>
									</div>
								</div>

								<table class="table shoping-cart-table">

									<tbody>
										<tr>

											<td class="desc">
												<h3>
													<a href="#" class="text-navy">
														Description
													</a>
												</h3>
												<p class="medium">

													{{ submission.description | raw }}
												</p>
												<h3>
													Background
												</h3>


											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				{% if is_granted('ROLE_SECRETARY') %}
					<div class="tab-pane  p-3	 " id="profile" role="tabpanel">

						<div class="card">
							<div class="card-header">
								<h5>Revise
								</h5>
							</div>
							<div class="card-body">
								{{ form_start(form) }}
								{{ form_widget(form) }}
								<button class="btn btn-primary">{{ button_label|default('Submit Review') }}</button>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				{% endif %}
				
					{% if review_assignment.reviewedAt %}
					{% include "application/tabs/checklist_response.html.twig" %}

					{% else %}
					{% include "application/tabs/checklist.html.twig" %}
						
					{% endif %}
					
				</div>
			</div>
			{# </div> #}
		</div>
		<div class="col-lg-3">

<div class="card">
				<div class="card-header">
					<h5 class="text-default  mb-0 font-15">Guidelines and attachement</h5>
				</div>
				<div class="card-body ">
					<div class="text-">

						<p class="text-muted  mb-0 font-15">
							 
							
					<ol class='row mt-2 d-flex align-items-center'>

							{% for guideline_for_reviewer in review_assignment.application.SubmittedBy.userInfo.college.irbReviewAtachements %}

<li>
								<a class="badge bg-primary" href="{{ asset('files/guidelines/'~ guideline_for_reviewer.attachement ) }}">
									{{guideline_for_reviewer.attachmentName}}
									<i class="fa fa-download"></i>
								</a>
</li>

								{% else %}
							{% endfor %}
					</ol>

						</p>
					</div>
					<div class="row mt-2 d-flex align-items-center"></div>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h5 class="text-default  mb-0 font-15">Review info</h5>
				</div>
				<div class="card-body ">
					<div class="text-">

						<p class="text-muted  mb-0 font-15">
							<span class="text-dark">

								Invited At:
								{{ review_assignment.InvitationSentAt ? review_assignment.InvitationSentAt|date('d-m-y H:i') : '' }}
								<br>
								Review duedate:
								{{ review_assignment.duedate ? review_assignment.duedate|date('d-m-y') : '' }}
							</span>
						 
						</p>
					</div>
					<div class="row mt-2 d-flex align-items-center"></div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-header">
					<h5>Application attachments</h5>
				</div>
				<div class="card-body ">
                                        <ol class='row mt-2 d-flex align-items-center'>

 {% for attachment in review_assignment.application.applicationAttachments %}

                                                                                                <li  class="text-info   pt-2">
                                                                                                <a style="margin-top:3px;" href="{{ asset('/uploads/application/'~ attachment.file ) }}" class="text-info    pt-3 mt-2">
                                                                                                        {{attachment}}
                                                                                                        <i class="fa fa-download material-icons warning"></i>
                                                                                                </a>
                                                                                                </li>
                                                                                        {% else %}
                                                                                                <span class="label label-danger">
                                                                                                        {% trans %}No attachment found{% endtrans %}</span>
						{% endfor %}

					</ol>

				</div>
			</div>
			


		</div>
	</div>
{% endblock %}
{% block javascript  %}
	<script>
		$('.form-check-input').change(function () {
var min = $(this).attr('data-min');
var max = $(this).attr('data-max');
$(this).closest('.parent').find('.score').attr({"max": max, "min": min});
});
	</script>
{% endblock javascript  %}
