
{% extends 'irb_base.html.twig' %}
{# {% extends 'base.html.twig' %} #}
{#  #}
{% block title %}Submission
{% endblock %}
{% block container_title %}Submission details
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-lg-9">

			<h4>Project progress </h4> 
 <br>
			<div class="row m-t-sm">
				<div class="col-lg-12">
					<div class="panel blank-panel">
						<div class="panel-heading">
							<div class="panel-options">
								<ul class="nav nav-pills nav-justified">
									<li>
										<a class="nav-link active" href="#tab-1" data-bs-toggle="tab">Metadata</a>
									</li>
									<li>
										<a class="nav-link" href="#Revision" data-bs-toggle="tab">Revision</a>
									</li>
									 


									 
								</ul>
							</div>
						</div>
					</div>

					<div class="panel-body">

						<div class="tab-content">
							<div class="tab-pane active" id="tab-1">
								<div class="row">
									<div class="col-md-12">

										<div class="ibox">

											<div class="ibox-content">


												<div class="row">


													<h4 class='text-primary m-3'>
														Research details</h4>


													<div class="accordion" id="accordionExample">
														<div class="accordion-item active">
															<h5 class="accordion-header m-0" id="headingOne">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
																	Executive summary/ Abstract
																</button>
															</h5>
															<div id="collapseOne" class="accordion-collapse collapse active" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
																<div class="accordion-body active">
																	<h3>
																		<a href="#" class="text-navy">
																			Executive summary
																		</a>
																	</h3>
																	<p class="medium">
 
																	</p>
																	<div class="m-t-sm">
																		<a href="#" class="text-muted">Keywords:
																		</a>
																	 
																	</div>


																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingTwo">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
																	Backgrouund And Rationale
																</button>
															</h5>
															<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
																<div class="accordion-body">

 
																</div>
															</div>
														</div>

 
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="Objectives">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoo" aria-expanded="false" aria-controls="collapseTwoo">
																	Objectives
																</button>
															</h5>
															<div id="collapseTwoo" class="accordion-collapse collapse" aria-labelledby="Objectives" data-bs-parent="#accordionExample" style="">
																<div class="accordion-body">

																	<h5 class="font-20 fw-bold d-block mt-2">General objective:</h5>
																	<p>
 																	</p>
																	<h5 class="font-20 fw-bold d-block mt-2">Specific Objectives:</h5>

																	 

																</div>
															</div>
														</div>


														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingSpn">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
																	Methodology
																</button>
															</h5>
															<div id="collapseOther" class="accordion-collapse collapse" aria-labelledby="headingSpn" data-bs-parent="#accordionExample" style="">
																<div class="accordion-body">

 
																</div>
															</div>
														</div>
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingLastTwo">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collepaselast" aria-expanded="false" aria-controls="collepaselast">
																	Action plan
																</button>
															</h5>
															 
														</div>
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingLastFTwo">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collepaselastsyn" aria-expanded="false" aria-controls="collepaselastsyn">References</button>
															</h5>
															 
														</div>
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingLastFThree">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ResearchOutcome" aria-expanded="false" aria-controls="ResearchOutcome">Research  Outcome</button>
															</h5>
															 
														</div>
														<div class="accordion-item">
															<h5 class="accordion-header m-0" id="headingLastFThree">
																<button class="accordion-button fw-semibold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#members" aria-expanded="false" aria-controls="members">Research members</button>
															</h5>
															<div id="members" class="accordion-collapse collapse" aria-labelledby="headingLastFThree" data-bs-parent="#accordionExample" style="">
																 


															</div>
														</div>
													</div>
												</div>


											</div>
										</div>
									</div>


								</div>
							</div>
							<div class="tab-pane" id="Revision">
								 
								 

														</h4>

														<hr></td>
												</td>
											</tr>
										</tbody>
									</table>

								 
								 
							</div>
							 
								<strong class='text-success'>Final report datails</strong>
								<p>
									 
										 
									</div>
									<div class="tab-pane" id="publication">

										 </div>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-3">
				<div class="card team-card">
					<div class="card-body">
						<div class="float-end">
							<div
								class="dropdown d-inline-block">
								 
							</div>
						</div>
						<div class="media align-items-center">

							 

							<div class="online-circle">
								<i class="fa fa-circle text-success"></i>
							</div>
							<div class="media-body ms-3 align-self-center">
								<h4 class="team-leader m-0"> </h4>
								<p class="text-muted font-12 mb-0">Research PI</p>
							</div>
						</div>
						<h4 class="m-0 mt-4 font-14 font-weight-semibold">
						?</h4>
						<p class="text-muted mb-0">
							 </p>

						<div class="mt-4 d-flex justify-content-between">
							<div class="img-group">


								<a class="user-avatar user-avatar-group" href="#">
 								</a>

								{# {% for member in myrequest.coAuthors %}


									{% if member.researcher.userInfo and member.researcher.userInfo.image %}

										<a class="user-avatar user-avatar-group" href="#">
											<img src="{{ asset('files/profile_pictures/'~member.researcher.userInfo.image ) }}" alt="user" class="rounded-circle thumb-xxs">
										</a>


 									{% else %}
										<a class="user-avatar user-avatar-group" href="#">
											<img src="{{ asset('/img/defaultuser.png') }}" alt="user" class="rounded-circle thumb-xxs">
										</a>
									{% endif %}

									{% else %}No Co-PI has been involved
								{% endfor %} #}


								{# <a href="#{{myrequest.id}}" class="avatar-box thumb-xxs align-self-center">
									<span class="avatar-title bg-soft-info rounded-circle font-13 font-weight-normal">
										+{{ myrequest.coAuthors|length   }}
									</span>
								</a> #}
							</div>

						</div>
						<hr class="hr-dashed my-4">

					</div>
					<!--end card-body-->
				</div>

				<div class="card">
					<div class="card-body ">
						<h4 class="font-18 m-0 fw-bold">Attachments:</h4><br>
						{# {% for submissionattachment in myrequest.submissionAttachments %}
							<a href="{{ asset('/uploads/submission/'~ submissionattachment.file ) }}" class="btn btn-info btn-xs float-right">{{submissionattachment.name}}
								<i class="fa fa-download material-icons warning"></i>
							</a>
						{% else %}
							<span class="label label-danger">{% trans %}No attachment found{% endtrans %}</span>
						{% endfor %} #}
					</div>
				</div>
				<div class="card">
					<div class="card-body ">
						<h5 class="font-18 m-0 fw-bold">Submission Status</h5>
						<div class="row mt-4 d-flex align-items-center">
							{# {% if review_assignments|length >0 %}
								<p class="btn btn-info btn-xs float-right">Sent to review</p>
								{% else %}
							{% endif %} #}
							{# <a class="badge bg-primary" href="{{ path('research_sumary', {'uid': myrequest.uidentifier }) }}">PDF<i class="fa fa-download"></i>
							</a> #}
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body ">
						<h4 class="font-18 m-0 fw-bold">Co-PI confirmation:</h4><br>
						{# {% for member in myrequest.coAuthors %}
							{{loop.index}}{{member.researcher.userInfo}}
							{% if member.confirmed=='1' %}
								<i class="fa fa-check text-success"></i>
							{% elseif member.confirmed==''    %}
								<i class="fa fa-times-circle text-danger"></i>
 							{% else  %}
								<i class="fa fa-close text-danger"></i>
							{% endif %}<br>{% else %}No Co-PI has been involved
						{% endfor %} #}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
