{% extends 'base.html.twig' %}

{% block title %}Application Type
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col">
							<h4 class="card-title">
								All application ype
							</h4>
							Total: ({{application_types|length}})

						</div>
						<!--end col-->
						<div class="col-auto">


							<a href="{{ path('i_r_b_application_type_new') }}" class='btn btn-primary btn-sm'>
								Create   new
							</a>

						</div>
						<!--end col-->
					</div>
				</div>
				<!--end card-header-->
				<div class="card-body">


					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Description</th>
								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for application_type in application_types %}
								<tr>
									<td>{{ application_type.id }}</td>
									<td>{{ application_type.name }}</td>
									<td>{{ application_type.description }}</td>
									<td>
										<a href="{{ path('i_r_b_application_type_show', {'id': application_type.id}) }}" class="btn btn-soft-primary btn-sm">show</a>
										<a href="{{ path('i_r_b_application_type_edit', {'id': application_type.id}) }}" class="btn btn-sm btn-soft-warning">edit</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="4">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
