{% macro displayObjective(objective) %}
	 
<div class="row grey">

	<div class="col-md-4">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Task name</label>
			{{form_widget(objective.name)}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Start date</label>
			{{form_widget(objective.startDate)}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">End Date</label>
			{{form_widget(objective.endDate)}}
		</div>
	</div>
	 
	<div class="col-md-1">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	</div>
	</div>
{% endmacro %}

{{ form_start(form) }}
    {# {{ form_widget(form.title,{'class':'form-control'}) }} #}

<div class="row">


<div class="card">
<div class="card-header">
			<h4 class="card-title" > Project Overview</h4>
		</div>

<div class="card-body">

<div class="row">
<div class="col-md-12">
													<div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Title</span>
{{ form_widget(form.title  ) }}                                    </div> 
												</div>
<div class="col-md-12">
												
												<div class="input-group">
                                        <span class="input-group-text">Short Description</span>
														{{ form_widget(form.shortDescription  ) }}
                                    </div>
                                    </div>
                                    </div>

												<div class="row">
												<div class="col-md-6">
													   <div class="input-group">
                                           {{ form_widget(form.PrincipalInvestigator  ) }}
                                            <button class="btn btn-secondary" type="button">Principal Investigator</button>
                                        </div> 
										</div>

												<div class="col-md-6">
													<div class="form-group">

														CoInvestigator
														{{ form_widget(form.coInvestigators  ) }}
													</div>
												</div>
												</div>


									<div class="row">
									<div class="col-md-6">
													<div class="form-s">
														<div class="label">
															Thematic Area</div>
														{{ form_widget(form.ThematicArea  ) }}
													</div>
												</div>
<div class="col-md-6">
													<div class="form-s">
														<div class="label"> Co-Principal Investigator</div>
														{{ form_widget(form.CoPrincipalInvestigator  ) }}
													</div>
												</div>
												</div>
									{# ################ #}
		</div>
		</div>

 
											 <div class="card">
<div class="card-header">
			<h4 class="card-title" > Grant details</h4>
		</div>

<div class="card-body"> 
<div class="row">

<div class="col-md-6">
													<div class="form-group">
														Project Status

														{{ form_widget(form.ProjectStatus  ) }}
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														Year Of Cemmencement

														{{ form_widget(form.YearOfCemmencement  ) }}
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														End Date

														{{ form_widget(form.EndDate  ) }}
													</div>
												</div>

<div class="col-md-6">
													<div class="form-group">
														Project Progress

														{{ form_widget(form.projectProgress  ) }}
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-c">
														<div class="label">
															Amount Of Grant</div>

															<div class="input-group mb-3">

{{ form_widget(form.AmountOfGrant  ) }}
                                        <span class="input-group-text" id="basic-addon2">{{ form_widget(form.Currency  ) }}</span>
                                    </div>

														
													</div>
												</div>
 	<div class="col-md-6">
								 <div class="input-group">
                                           {{ form_widget(form.ProjectType  ) }}
                                            <button class="btn btn-secondary" type="button">Project Type</button>
                                        </div> 
									 </div>
											 

												<div class="col-md-6">
													<div class="form-group">
													
														Funding Organization

														{{ form_widget(form.fundingOrganization  ) }}
													</div>
												</div>
												  <div class="col-md-6">
													<div class="form-c">
														<div class="label">
															Funding Opportunity Name</div>
														{{ form_widget(form.FundingOpportunityName  ) }}
													</div>

												
												</div>
												
											</div>
											<div class="row">


												


												
												</div>
												</div>
												</div>
												 <div class="card">
<div class="card-header">
			<h4 class="card-title" > Collaboration details</h4>
		</div>

<div class="card-body"> 
<div class="row">
												
												<div class="col-md-6">
													<div class="form-group">
														Principal Investigating Organization

														{{ form_widget(form.principalInvestigatingOrganization  ) }}
													</div>
												</div>
												 
												<div class="col-md-6">
												<div class="form-group">

														Responsible Primary Institute
														{{ form_widget(form.ResponsiblePrimaryInstitute  ) }}
													</div>
												</div>
<div class="col-md-6">
													<div class="form-c form-group">
														<div class="label">
															Other Insitutes</div>
														{{ form_widget(form.OtherInsitutes  ) }}
													</div>
												</div>
												
										
												
												</div>
												</div>
												</div>
												
											<div class="row">
												<div class="col-md-12">
											 
																		<div class="row">
																		<div class="card">
																		<div class="card-header">
																		<h4 class="card-title" > Deliverables</h4>

    												<button type="button" class="btn btn-soft-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#objective-fields-list">
													<span aria-hidden="true">+</span>
													Add Tasks
													</button>
												</div>
																		<div class="card-body">

 
								<ul id="objective-fields-list" class="m-t-5" data-prototype="{{_self.displayObjective(form.deliverables.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ form.deliverables|length }}">
										{% for research in form.deliverables %}
											<div class="row ">
												{{ _self.displayObjective(research) }}
											</div>
										{% endfor %}
									</ul>
												</div>
												</div>
												</div>
												</div>
												</div>

 </div>
    <button class="btn btn-soft-success btn-lg">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>