{% extends 'base.html.twig' %}

{% block title %}Colleges{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Submissions</h4>
					<p class="text-muted mb-0">

						<span class='badge bg-soft-success m-0 '>Submissions under
							{{allowedCall}}
							call
						</span>
					</p>
				</div>
				<!--end card-header-->
				<div class="card-body">
					<div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<a href="{{ path('allbythemeex', {'id': allowedCall.id}) }}" class='btn btn-soft-info  btn-xs mb-1 btn-block'>Export all  in Excel
								</a>

								<a href="{{ path('review_result', {'id': allowedCall.id}) }}" class='btn btn-soft-purple  btn-xs mb-1 btn-block'>Export result in  Excel
								</a>
							</div>
							<div class="col-sm-12 col-md-6">
								<span class='badge bg-soft-success m-0 '>
									{{allowedCall.college.prefix}}

								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-bordered">

										<tbody>
											{% for college in colleges %}
												<tr class='text-info m-1' style='background-color:#0c213a'>
													<td>{{ loop.index }}</td>
													<td>
														<h5 class='text-info m-0 '>{{ college.name }}

															<span class='badge bg-soft-success m-0 '>
																Under this call
																<a href="#" class="avatar-box thumb-xxs align-self-center">
																	<span class="avatar-title bg-soft-success rounded-circle font-13 font-weight-normal">
																		{{ college.submissions|filter(call =>  call.callForProposal.id == allowedCall.id ) |length}}
																	</span>
																</a>

															</span>
														</h5>
													</td>
													<td>
														<h5 class='text-danger m-0 '>
															<span class='badge bg-soft-danger'>So far

																<a href="#" class="avatar-box thumb-xxs align-self-center">
																	<span class="avatar-title bg-soft-danger rounded-circle font-13 font-weight-normal">
																		{{college.submissions|length}}
																	</span>
																</a>
															</span>

														</h5>
													</td>
												</tr>
												<tr>
													<td colspan='4'>
														{# {% if   college.submissions|filter(call =>  call.callForProposal.id == allowedCall.id ) |length > 0 %} #}
{% set submissions = college.submissions|filter(call =>  call.callForProposal.id == allowedCall.id ) %}
					<div class="row ">{{ include('submission/submission_index_table.html.twig') }}</div>
 
{# 
														{% else %}
															<span class="badge bg-soft-danger">No submission has been made under "{{college.name}}"  thematic area with this call!</span>
														{% endif %} #}
													</td>
												</tr>
												{% else %}no records found
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
