{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}
{% block container_title %}Profile
{% endblock %}
{% block header_contenttwo %}Profile
{% endblock %}

{% macro displayObjective(objective) %}
	 

	<div class="col-md-4">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Title</label>
			{{form_widget(objective.title)}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Allotted budget</label>
			{{form_widget(objective.allotted_budget)}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group select-wizard">
			<label class="bmd-label-floating">Year</label>
			{{form_widget(objective.year)}}
		</div>
	</div>
	<div class="col-md-2">
		<div class="form-group select-wizard">
			{{form_widget(objective.successfully_completed )}}

		</div>
	</div>
	<div class="col-md-1">
		<div class="form-group">

			<button type="button" class=" btn btn-danger btn-sm close  remove-collection-widget mt-4   bgc-h-danger-l2 radius-round ">
				<span aria-hidden="true">×</span>
			</button>
		</div>
	</div>
{% endmacro %}

{% block body %}

	 <script>
 
 $(window).on('load', function() {
   $(".select2").select2();

})

</script>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body p-0"></div>
				<!--end card-body-->
				<div class="card-body">
					<div class="dastone-profile">
						<div class="row">
							<div class="col-lg-4 align-self-center mb-3 mb-lg-0">
								<div class="dastone-profile-main">
									<div class="dastone-profile-main-pic">
										{% if app.user.userInfo and app.user.userInfo.image %}

											<img src="{{ asset('files/profile_pictures/'~app.user.userInfo.image ) }}" alt="" class="rounded-circle" style="width:110px; height:110px;">
										{% else %}
											<img src="{{ asset('/img/defaultuser.png') }}" class="rounded-circle circle-border  " alt="profile" style="width:110px; height:110px;">
										{% endif %}

										{# <span class="dastone-profile_main-pic-change" >
																																									<i class="fas fa-camera"></i>
																																								</span> #}

										<button type="button" class="dastone-profile_main-pic-change" data-bs-toggle="modal" data-bs-target="#exampleModalSmall">
											<i class="fas fa-camera"></i>

										</button>


									</div>
									<div class="dastone-profile_user-detail">
										<h5 class="dastone-user-name">
										{% if userInfo.suffix  is defined  %}
										{{ user.userInfo.suffix   }}
											{% endif %}

											{{ user}}</h5>
										<p class="mb-0 dastone-user-name-post">
											{% if userInfo.affiliation is defined %}

												{{ userInfo.affiliation }}
												{% else %}
											{% endif %}
 {% if userInfo.college  is defined %}
											{{ user.userInfo.college }}
{% endif %}
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 ms-auto align-self-center">
								<ul class="list-unstyled personal-detail mb-0">
									<li class="">
										<i class="ti ti-mobile me-2 text-secondary font-16 align-middle"></i>
										<b>
											Phone
										</b>
										{% if user.userInfo.phoneNumber   is defined %}:
										{{ user.userInfo.phoneNumber }}
{% endif %}
</li>
									<li class="mt-2">
										<i class="ti ti-email text-secondary font-16 align-middle me-2"></i>
										<b>
											Email
										</b>
										:
										{{ user.email }}</li>
									<li class="mt-2">
										<i class="ti ti-email text-secondary font-16 align-middle me-2"></i>
										<b>
											Alternative      Email
										</b>
										:
{% if user.userInfo.alternativeEmail   is defined %}
									{{ user.userInfo.alternativeEmail }}
{% endif %}
</li>


									<li class="mt-2">
										<i class="ti ti-world text-secondary font-16 align-middle me-2"></i>
										<b>
											Affiliation:
										</b>

										<a href="" class="font-12 text-default ">
											{% if userInfo.affiliation is defined %}

												{{ userInfo.affiliation }}
												{% else %}
											{% endif %}
											{{ user.userInfo.suffix   }}
											{% if user.userInfo.educationLevel %}
												({{ user.userInfo.educationLevel }})
											{% endif %}


											{% if user.userInfo.academicRank %}
												{{ user.userInfo.academicRank }}
												,
											{% endif %}


											{% if user.userInfo.department  is defined %}
												Department of

												{{ user.userInfo.department   }}
												{% else %}
											{% endif %}


											{% if user.userInfo.college is defined %}
												at
												{{ user.userInfo.college }}
											{% endif %}


										</a>
									</li>
								</ul>

							</div>
							<!--end col-->
							<div class="col-lg-4 align-self-center">
								<div class="row">
									<div class="col-auto text-end border-end">
										<button type="button" class="btn btn-soft-primary btn-icon-circle btn-icon-circle-sm mb-2">
											<i class="fa fa-book"></i>
										</button>
										<p class="mb-0 fw-semibold">Publications</p>
										<h4 class="mb-0 fw-semibold">{{user.Publications |length}}</h4>
									</div>
									<!--end col-->
									<div class="col-auto">
										<button type="button" class="btn btn-soft-info btn-icon-circle btn-icon-circle-sm mb-2">
											<i class="fa fa-book"></i>
										</button>
										<p class="mb-0 fw-semibold">Trainings</p>


									</div>
									<!--end col-->
								</div>
								<!--end row-->
							</div>
							<!--end col-->
						</div>
						<!--end row-->
					</div>
					<!--end f_profile-->
				</div>
				<!--end card-body-->
			</div>
			<!--end card-->
		</div>
		<!--end col-->
	</div>
	<div class="pb-4">
		<ul class="nav-border nav nav-pills mb-0" id="pills-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link " id="Profile_Project_tab" data-bs-toggle="pill" href="#Profile_Project">Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="Profile_Post_tab" data-bs-toggle="pill" href="#Profile_Post">Conferences</a>
			</li>

			<li class="nav-item">
				<a class="nav-link  " id="publications_tab" data-bs-toggle="pill" href="#Publications">Publications</a>
			</li>

			<li class="nav-item">
				<a class="nav-link active" id="settings_detail_tab" data-bs-toggle="pill" href="#Profile_Settings">Edit Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{{path('update_password')}}">
					Manage password
				</a>
			</li>
		</ul>
	</div>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade " id="update_password" role="tabpanel" aria-labelledby="update_password"></div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade " id="Profile_Project" role="tabpanel" aria-labelledby="Profile_Project_tab">

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="row align-items-center">
										<div class="col">
											<h4 class="card-title">Research Projects
											</h4>
										</div>
										<!--end col-->
									</div>
								</div>

								<div class="card-body "></div>
								<!--end card-body-->
							</div>
							<!--end card-->
						</div>
						<!--end col-->
					</div>
				</div>
				<div class="tab-pane fade " id="Publications" role="tabpanel" aria-labelledby="publications_tab">

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="row align-items-center">
										<div class="col">
											<h4 class="card-title">Publications

												{% if user.Publications|length>0%}

													<a href="#" class="avatar-box thumb-xxs align-self-center">
														<span class="avatar-title bg-soft-primary rounded-circle font-13 font-weight-normal">
															{{user.Publications|length}}

														</span>
													</a>
													{% else %}

												{% endif %}
											</h4>
										</div>
										<!--end col-->
									</div>
									<!--end row-->
								</div>

								<div class="card-body ">


									<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#PublicationsModalSmall">
										Update your publication status
									</button>

									{% for publication in user.Publications %}
										<h4 class="mb-0 fw-semibold ">
											{{ publication.title}}
										</h4>
										<p class="mb-0 fw-semibold text-muted">Journal name:
											{{ publication.journalName}}</p>
										<p class="mb-0 fw-semibold text-muted">Publication year:
											{{ publication.publishedAt|date('d M Y ') }}</p>
										DOI:
										<a href="{{publication.Doi}}" class="mb-0 fw-semibold  ">{{ publication.Doi }}</a>

									{% endfor %}

									<div class="modal fade bd-example-modal-lg" id="PublicationsModalSmall" tabindex="-1" role="dialog" aria-labelledby="PublicationsModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h6 class="modal-title m-0" id="PublicationsModalLabel">Update your publication status</h6>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<!--end modal-header-->
												<div class="modal-body ">
 {{ form_start(publicationform) }} 
<script>
 window.onload = function() {
        document.getElementById('publication_article_document').style.display = 'none';
 
    }
 
 function attachOrDoi() {
	 
	if (document.getElementById('noCheck').checked) {
 	document.getElementById('publication_doi').style.display = 'block';
 	document.getElementById('publication_article_document').style.display = 'none';

 	} else {

  	document.getElementById('publication_doi').style.display = 'none';
 	document.getElementById('publication_article_document').style.display = 'block';

 	}
	}
		</script> 

		
													{{ form_label(publicationform.title) }}
													{{ form_widget(publicationform.title) }}
													{{ form_label(publicationform.journal_name) }}
													{{ form_widget(publicationform.journal_name) }}
													{{ form_label(publicationform.impact_factor) }}
													{{ form_widget(publicationform.impact_factor) }}
													{{ form_label(publicationform.citation_score) }}
													{{ form_widget(publicationform.citation_score) }}
													{{ form_label(publicationform.published_at) }}
													{{ form_widget(publicationform.published_at) }}
													{{ form_label(publicationform.member_role) }}
													{{ form_widget(publicationform.member_role) }}
 
												
						<br>
						Provide an evidence to your publication
							<br>
							<br>
					 															
	 Attach article document file <input type="radio" onclick="attachOrDoi();" name="yesno" id="doi"/>

	Enter DOI 	<input type="radio" onclick="attachOrDoi();" name="yesno" id="noCheck" checked='checked'/>
													<br>
													<br>
 													{{ form_widget(publicationform.doi) }}

 
													{{ form_widget(publicationform.article_document) }}




											 		<!-- end modal-body-->
												<div class="modal-footer">
													<button type="submit" class="btn btn-soft-primary btn-sm">Add Publication</button>
													<button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Close</button>
												</div>
												{{ form_end(publicationform) }}

												<!--end modal-footer-->
											</div>
											<!--end modal-content-->
										</div>
										<!--end modal-dialog-->
									</div>

								</div>
								<!--end card-body-->
							</div>
							<!--end card-->
						</div>
						<!--end col-->
					</div>
					</div>
				</div>
				<!--end tab-pane-->
				<div class="tab-pane fade" id="Profile_Post" role="tabpanel" aria-labelledby="Profile_Post_tab">
					<div class="row">
						<div class="col-lg-9">
							<div
								class="row">

								<!--end col-->
								<div class="col-lg-6">
									<div class="card">
										<div class="card-header">
											<div class="row align-items-center">
												<div class="col">
													<h4 class="card-title">Conferences
													</h4>
												</div>
												<!--end col-->
											</div>
										</div>

										<div class="card-body  report-card"></div>
										<!--end card-body-->
									</div>
									<!--end card-->
								</div>
								<!--end col-->
							</div>
						</div>
						<!--end col-->
						<div class="col-lg-3">
							<div class="card">
								<div
									class="card-header"><!--end row-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="Profile_Portfolio" role="tabpanel" aria-labelledby="portfolio_detail_tab">
					<div class="row">
						<div
							class="col-md-6"><!--end card-->
						</div>
					</div>
				</div>
				<div class="tab-pane fade active show" id="Profile_Settings" role="tabpanel" aria-labelledby="settings_detail_tab">
					<div class="row">
						<div class="col-lg-12   col-xl-12">
							<div class="card">
								<div class="card-header">
									<div class="row align-items-center">
										<div class="col">
											<h4 class="card-title">Personal Information</h4>
										</div>
										<!--end col-->
									</div>
									<!--end row-->
								</div>
								<!--end card-header-->
								<div class="card-body">
									<div class="row">
										<div class="col-sm-12">
											{{ form_start(submissionform) }}
											{{form_errors(submissionform)}}
											<div class="row">


												<div class="col-md-3">
													<div class="form-c">
														<div class="label">
															Suffix</div>
														{{ form_widget(submissionform.suffix  ) }}
													</div>
												</div>


												<div class="col-md-3">
													<div class="form-s">
														<div class="label">
															Given name</div>
														{{ form_widget(submissionform.first_name  ) }}
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">

														Midle name
														{{ form_widget(submissionform.midle_name  ) }}
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														Sur name

														{{ form_widget(submissionform.last_name  ) }}
													</div>
												</div>
											</div>

											<div class="row">


												<div class="col-md-3">
													<div class="form-c">
														<div class="label">
															Gender</div>
														{{ form_widget(submissionform.gender  ) }}
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-c">
														<div class="label">
															Birth date</div>
														{{ form_widget(submissionform.birth_date  ) }}
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group">

														{{ form_label(submissionform.alternative_email  ) }}
														{{ form_widget(submissionform.alternative_email  ) }}
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">
														{{ form_label(submissionform.phone_number  ) }}
														{{ form_widget(submissionform.phone_number  ) }}
													</div>
												</div>
											</div>

 
											<div class="row">

												<div class="col-md-3">
													<div class="form-group">
														{{ form_label(submissionform.college  ) }}
														{{ form_widget(submissionform.college  ) }}
													</div>
												</div>
												<div class="col-md-3">
													<div class="form-group">

														<label class="form-controll">Department</label><br>
														<select id="dep" name="department" style="width: 100%;" value="{{user.userInfo.department}}" class="dep   select2" required="required"></select>
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-c">
														<div class="label">
															Education level</div>
														{{ form_widget(submissionform.education_level  ) }}
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-c">
														<div class="label">
															Academic rank</div>
														{{ form_widget(submissionform.academic_rank  ) }}
													</div>
												</div>
											</div>

											<div class="row">
											
												 	{% if user.userInfo.CV != NULL  %}
													 <div class="col-1">
												<br>
												<a href="{{ asset('/files/collaborators_cv/'~ user.userInfo.CV ) }}" class="btn btn-info btn-xs float-right">
													Your   CV
													<i class="fa fa-download material-icons warning"></i>
												</a>
											
											   </div>
											     <div class="col-11">
												{% else %} 
											     <div class="col-12">
												{% endif %} 

												<div class="label">
													Upload to update your CV</div>
												{{ form_widget(submissionform.cv  ) }}

												 
											</div>
											<div class="row">
											
												 	{% if user.userInfo.signature != NULL  %}
													 <div class="col-1">
												 
												<hr class="hr-dashed my-4">

													<img src="{{ asset('files/signatures/'~app.user.userInfo.signature ) }}" alt="" class="thumb-lg rounded-circle  circle-border">


												 
											
											   </div>
											     <div class="col-11">
												{% else %} 
											     <div class="col-12">
												{% endif %} 

												<div class="label">
													Upload to update your signature
													
								<span class='small text-danger'>File size should not be more than 2Mb</span>
													
													</div>
												{{ form_widget(submissionform.signature  ) }}

											 
											</div>
											</div>
</div>
											<hr>
											<div class="col-12">
												<br>
												{# <h4>If previously granted Mega project from the institute (at list in past 4 years)</h4> #}
												<br>
											</div>
											<script type="text/javascript">

													function yesnoCheck() {
													if (document.getElementById('yesCheck').checked) {
													document.getElementById('ifYes').style.display = 'block';
													} else 
													document.getElementById('ifYes').style.display = 'none';



													}
											</script>
										
										
											{# Yes
											<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" required='required'>
											No
											<input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck" required='required'><br> #}
											<div id="ifYes" style="display:none">
												If yes, add and insert titles below:<hr>
									<button type="button" class="btn btn-primary add-another-collection-widget btn btn-sm btn-bd-primary float-right " data-list-selector="#objective-fields-list">
													<span aria-hidden="true">+</span>
													Add research Titles
												</button>
 
								<ul id="objective-fields-list" class="m-t-5" data-prototype="{{_self.displayObjective(submissionform.researches.vars.prototype)|e }}" data-widget-tags="{{ '<div class="row "></div>'|e }}" data-widget-counter="{{ submissionform.researches|length }}">
										{% for research in submissionform.researches %}
											<div class="row ">
												{{ _self.displayObjective(research) }}
											</div>
										{% endfor %}
									</ul>


												<br>
												<br>
												<br>
												 
											</div>
										</div>
									</div>
									<hr>
									<button class="btn btn-primary">{{ button_label|default('Save Profile') }}</button>
									{{ form_end(submissionform) }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade bd-example-modal-lg" id="exampleModalSmall" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h6 class="modal-title m-0" id="mySmallModalLabel">Change profile picture</h6>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<!--end modal-header-->
							<div class="modal-body text-center">

								{% if app.user.userInfo and app.user.userInfo.image %}

									<img src="{{ asset('files/profile_pictures/'~app.user.userInfo.image ) }}" alt="" class="thumb-lg rounded-circle  circle-border">
								{% else %}
									<img src="{{ asset('/img/defaultuser.png') }}" class="thumb-lg rounded-circle circle-border  " alt="profile">
								{% endif %}

								<h5 class="mb-1">Upload from file to change profile picture!</h5>
								{# <p class="mb-0 text-muted">{{ user.userInfo}}</p>   #}
								<br><br>
								{{ form_start(profilepicture) }}
								<span class='small text-danger'>File size should not be more than 2Mb</span>
								{{ form_widget(profilepicture.image  ) }}

							</div>
							<!--end modal-body-->
							<div class="modal-footer">
								<button type="submit" class="btn btn-soft-primary btn-sm">Update profile picture</button>
								<button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Close</button>
							</div>
							{{ form_end(profilepicture) }}

							<!--end modal-footer-->
						</div>
						<!--end modal-content-->
					</div>
					<!--end modal-dialog-->
				</div>
				<!--end modal-->

			</div>
			<!--end row-->
		</div>
		<!--end tab-pane-->
	</div>
{% endblock %}
{% block script %}
	<script src="{{ asset('plugins/jquery.validate.min.js')}}">

	<script src="{{ asset('plugins/select2/select2.min.js')}}"></script>
	 

	<script type='text/javascript'>  
	 jQuery(document).ready(function () {

$(document).on('click', '.remove-collection-widget', function (e) {
$(this).closest('.row').fadeOut().remove();
} 
);
$(document).on('click', '.add-another-collection-widget', function (e) {
 
var list = jQuery(jQuery(this).attr('data-list-selector'));

var counter = list.data('widget-counter') || list.children().length;
var newWidget = list.attr('data-prototype');
newWidget = newWidget.replace(/__name__/g, counter);
counter++;
list.data('widget-counter', counter);
var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
newElem.appendTo(list);
$(".select").select2("destroy").select2();
});
});
var form = $("#form-horizontal");

 	</script>
	<script>
		$(function () {
$(".select2").select2();

})
	</script>
 	{% include "user/departmentfetchjs.html.twig" %}

{% endblock %}

